aiohttp==3.8.5
async-timeout==3.0.1
attrs==21.2.0
bidict==0.21.2
chardet==4.0.0
idna==3.2
joblib==1.0.1
multidict==5.1.0
numpy==1.20.3
python-engineio==4.2.0
python-socketio==5.3.0
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
threadpoolctl==2.1.0
typing-extensions==3.10.0.0
yarl==1.6.3